<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FUPAMMAR</title>
    <link rel="shortcut icon" id= "icono" href ="images\icono.png" type="image/x-icon">
    <link rel="stylesheet" href="css/contactanos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
  </head>

  <body>
    <header class="contenedor-barra-inicio">
      <div>
        <nav>
          <a class="logo" href='/registered'><p><img src="images\Fundación Fupammar Logo.png" alt="Logotipo de la fundación" width="100"></p></a>
        </nav>
      </div>
      <nav>
        <a href="#fundacion" >Acerca de la fundación</a>
        <a href="/portafolio" >Adopciones</a>
        <a href="/donaciones" >Donaciones</a>  
        <a href="#" >Actividades</a>
        <a href="/login-signup" >Inicio de Sesión</a>
        <a href="/contactanos" >Contáctanos</a>
      </nav>
      <div class="wave" style="height: 150px; overflow: hidden;" >
        <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
          <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path>
        </svg>
      <div style='text-align: right'></div>
      </div>
    </header>
    
    <div id="contenidos-paginas">
      <div id="centro3">
        <h2>
          <em class="encabezados t1">Contacta con</em> 
          <em class="encabezados t2">Nosotros</em>
        </h2>
        <p class="descripcion-pagina">
          ¡Contáctanos y déjanos saber cómo podemos ayudar a nuestras queridas mascotas!
        <br><br><br>
        </p>
        <hr>
  
        <div id="contenido-nosotros">
          
          <div id="izquierda">
            <p class="descripcion-pagina texto-contacto">
              <br>
              Estamos aquí para responder tus preguntas, brindarte información sobre adopciones, recibir donaciones y cualquier otra consulta relacionada con nuestra fundación de mascotas. 
              Tu apoyo es fundamental para seguir mejorando la vida de estos maravillosos seres..<br>
              Telélefono: <strong>60458477</strong><br>
              Celular: <strong>+57 319 2879639 </strong><br>
              Email: <strong><a href="mailto: fundacionfupammar@gmail.com" class="email-contacto">fundacionfupammar@gmail.com</a></strong>
              <br>
            </p>
          </div>	
  
  
          <div id="derecha">
            <form action="#" method="POST">
              <input type="text" name="nombre" placeholder="Ingresa tu nombre" class="nombre-mensaje">
              <br>
              <input type="email" name="correo" placeholder="Ingresa tu coreo" class="email-asunto">
  
              <input type="text" name="asunto" placeholder="Ingresa el asunto" class="email-asunto"><br>
  
              <textarea name="mensaje" placeholder="Ingrese su mensaje " class="nombre-mensaje"></textarea><br>
  
              <input type="submit" name="enviar" value="Enviar consulta">
            </form>
          </div>
  
          <div id="mapa">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15858.60575600928!2d-75.34439880448404!3d6.438790896837893!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e44161ac1462c8b%3A0xee5eff4a443b0618!2sBarbosa%2C%20Antioquia!5e0!3m2!1ses!2sco!4v1686751681404!5m2!1ses!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" width="800" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>


    <footer>
      <div class="contenedor-footer">
        <div class="content-foo">
          <h4>Celular</h4>
          <P>+57 319 2879639 </P>
  
        </div>
        <div class="content-foo">
          <h4>Email</h4>
          <p>fundacionfupammar@gmail.com</p>
        </div>
  
        <div class="content-foo">
          <h4>Ubicación</h4>
          <p>Vereda La Montera, Don Matías, Antioquia</p>
        </div>
        </div>
      <h2 class="titulo-final">&copy; FUNDACIÓN FUPAMMAR Desing | Manuela López - José Andrés Torres</h2>
    </footer>
    <script type="text/javascript" src="javascripts/funciones.js"></script>
  </body>
</html>