<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DONACIONES</title>
    <link rel="shortcut icon" href="images\icono.png" type="image/x-icon">
    <link rel="stylesheet" href="css\donaciones.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
	
</head>
<body>
    <header class="contenedor-barra-inicio">
      <div>
        <nav>
          <a class="logo" href='/registered'><p><img src="images\Fundación Fupammar Logo.png" alt="Logotipo de la fundación" width="100"></p></a>
        </nav>
      </div>
      <nav>
        <a href="#fundacion" >Acerca de la fundación</a>
        <a href="/portafolio" >Adopciones</a>
        <a href="/donaciones" >Donaciones</a>  
        <a href="#" >Actividades</a>
        <a href="/login-signup" >Inicio de Sesión</a>
        <a href="/contactanos" >Contáctanos</a>
      </nav>
      <div class="wave" style="height: 150px; overflow: hidden;" >
        <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
          <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path>
        </svg>
      <div style='text-align: right'></div>
      </div>
    </header>
    <main>
      <section class="contenedor__todo">
        <div class col="contenedor-formulario">
          <h2>DONACIONES</h2>
          <form class="procesar_donacion.php" method="POST">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required><br><br>

            <label for="email">Correo electrónico:</label>
            <input type="email" id="email" name="email" required><br><br>

            <label for="cantidad">Cantidad a donar:</label>
            <input type="number" id="cantidad" name="cantidad" required><br><br>

            <label for="tipo">Tipo de donación:</label>
            <select id="tipo" name="tipo">
              <option value="monetaria">Monetaria</option>
              <option value="material">Material</option>
            </select><br><br>

            <label for="comentarios">Comentarios:</label><br>
            <textarea id="comentarios" name="comentarios" rows="2" cols="50"></textarea><br><br>

            <input type="submit" value="Donar">
          </form>
        </div>
    </section>
    </main>
    <footer>
      <div class="contenedor-footer">
        <div class="content-foo">
            <h4>Celular</h4>
            <P>+57 319 2879639 </P>
        
        </div>
        <div class="content-foo">
            <h4>Email</h4>
            <p>fundacionfupammar@gmail.com</p>
        </div>
        
        <div class="content-foo">
            <h4>Ubicación</h4>
            <p>Vereda La Montera, Don Matías, Antioquia</p>
        </div>
      </div>
      <h2 class="titulo-final">&copy; FUNDACIÓN FUPAMMAR Desing | Manuela López - José Andrés Torres</h2>
    </footer>	
    <script src="css\donaciones.css"></script>
	<script type="text/javascript" src="javascripts/funciones.js"></script>
</body>
</html>