<!DOCTYPE html>
<html lang="es">
<!----------Encabezado---------->
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!----------Titulo de la pagina---------->
    <title>Semillero Lúdica y Saber</title>
    <link rel="shortcut icon" id= "icono" href ="images\escudo.png" type="image/x-icon">
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
  </head>
<!----------Contenido de la pagina---------->
  <body>
    <header class="contenedor-barra-inicio">
      <!----------Barra de navegación principal---------->
      <div>
        <nav>
          <a class="logo" href='/'><p><img src="images\escudo.png" alt="Logotipo de la fundación" width="100"></p></a>
        </nav>
      </div>
      <nav>
        <a href="#fundacion" >Acerca del semillero</a>
        <a href="#" >Actividades</a>
        <a href="/login-signup" >Inicio de Sesión</a>
        <a href="/contactanos" >Contáctanos</a>
      </nav>
      <!----------Efecto de la imagen de la barra principal---------->
      <div class="wave" style="height: 150px; overflow: hidden;" >
        <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
          <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path>
        </svg>
      <div style='text-align: right'></div>
      </div>
    </header>
    <!----------Contenido de la pagina---------->
    <main>
      
      <h2 class="titulo" id="fundacion">Semillero Lúdica y Saber</h2>
      <!----------Bloque para la seccion sobre nosotros---------->
      <section class="contenedor-sobre-nosotros">
        <div class="contenedor-imagenes">
          <div class="contenedor-img">
            <img src="images\semillero1.jpg" alt="Logo de la fundación" width="300">
            <br><br>
            <img src="images\semillero6.jpg" alt="" width="300" height="300">
            <br><br>
            <img src="images\semillero7.jpg" alt="" width="300" height="300">
            <br><br>
            <img src="images\semillero4.jpg" alt="" width="300" height="300">
          </div>
        </div>
        <div class="contenedor-textos">
          <div>
            <h3>Descripción</h3>
            <p>Investiguemos y Juguemos Semillero de Lúdica y Saber, bajo la coordinación de la profesora Doris Elena Salazar Hernández, perteneciente al área de Lúdica, nace desde el semestre 02-2018 con la vinculación de 4 estudiantes en formación al proyecto de investigación formativa, de tesis doctoral “El juego cooperativo reflexivo como dispositivo de formación”. Al tiempo que se vincularon las docentes del área de Lúdica y estudiantes interesados en profundizar las temáticas del juego, la lúdica y la recreación. Actualmente tiene inscritos 25 estudiantes, 5 graduados del programa de la Licenciatura y 6 docentes de la Facultad. </p>
            <br><br><br>
            <h3>Objetivo General</h3>
            <p>Acompañar a estudiantes, graduados y docentes en procesos de investigación formativa, cuyo objeto de estudio esté relacionado con la Lúdica y la Recreación.</p>
            <br><br>
            <h3>Objetivos Específicos</h3>
            <p><li> Fortalecer las competencias investigativas en los integrantes del semillero. </li> </p>
            <br><br>
            <p><li> Incentivar la capacidad creativa de los participantes a partir de las ideas de investigación. </li> </p>
            <br><br>
            <p><li> Socializar a nivel local, nacional e Internacional por medio de la participación en convocatorias de investigación internas y externas, experiencias desde los procesos investigativos </li> </p>
            <br><br><br>
            <h3>Misión</h3>
            <p>Acompañar a estudiantes, graduados y docentes en procesos de investigación formativa, cuyo objeto de estudio esté relacionado con la Lúdica y la Recreación. Además de proyectar a nivel local, nacional e Internacional las experiencias y aprendizajes obtenidos en estos procesos, por medio de la participación en convocatorias de investigación internas y externas que favorezcan la movilidad académica Institucional. </p>
            <br><br><br>
            <h3>Visión</h3>
            <p>Pretendemos visibilizarnos en el 2025 como un Semillero que lidera investigaciones formativas, programas de extensión a la comunidad y capacitaciones desde la lúdica y la recreación por medio de los juegos tradicionales y con dispositivos pedagógicos como el juego cooperativo y las juegotecas Integrales y ser un Semillero que acompaña procesos de movilidad académica de estudiantes y docentes.</p>
            <p><br> En el 2025 consolidar una comunidad de aprendizaje para aportar al desarrollo académico e investigativo de la institución, y ser reconocida en el ámbito local, regional, nacional e internacional en busca de la calidad académica.<br></p>
            <br><br><br>
            <h3>Líneas de investigación del semillero</h3>
            <p><li> Educación. </li></p>
            <p><li> Pedagogía y didáctica.</li></p>

          </div> 
        </div>
    </section>
    </main>
    <!----------Pie de pagina---------->
    <footer>
      <div class="contenedor-footer">
        <div class="content-foo">
          <h4>Celular</h4>
          <P>+57 319 2879639 </P>
  
        </div>
        <div class="content-foo">
          <h4>Email</h4>
          <p>semilleroludicaysaber@elpoli.edu.co</p>
        </div>
  
        <div class="content-foo">
          <h4>Ubicación</h4>
          <p>El Poblado, Medellín. Sede Medellín. Centro Regional Oriente</p>
        </div>
        </div>
      <h2 class="titulo-final">&copy; Semillero Lúdico y Saber Desing | Viviana Montoya - José Andrés Torres - Carlos Palacio</h2>
    </footer>
    <script type="text/javascript" src="javascripts/funciones.js"></script>
  </body>
</html>