<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>FUPAMMAR</title>
    <link rel="shortcut icon" id= "icono" href ="images\icono.png" type="image/x-icon">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<link rel="stylesheet" href="css/portafolio.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
	
</head>

<body>
	<header class="contenedor-barra-inicio">
		<div>
		  <nav>
			<a class="logo" href='/registered'><p><img src="images\Fundación Fupammar Logo.png" alt="Logotipo de la fundación" width="100"></p></a>
		  </nav>
		</div>
		<nav>
		  <a href="/registered" >Acerca de la fundación</a>
		  <a href="/portafolio" >Adopciones</a>
		  <a href="/donaciones" >Donaciones</a>  
		  <a href="#" >Actividades</a>
		  <a href="/login-signup" >Inicio de Sesión</a>
		  <a href="/contactanos" >Contáctanos</a>
		</nav>
		<div class="wave" style="height: 150px; overflow: hidden;" >
		  <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
			<path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path>
		  </svg>
		<div style='text-align: right'></div>
		</div>
	  </header>

	<div class="container">

		
	 
		<div class="products-container">
	 
		   <div class="product" data-name="p-1">
			  <img src="images/img10.jpg" alt="">
			  <h3>PINKY</h3>
			  <div class="price">ADOPTAME</div>
		   </div>
	 
		   <div class="product" data-name="p-2">
			  <img src="images/img12.jpg" alt="">
			  <h3>TOR</h3>
			  <div class="price">ADOPTAME</div>
		   </div>
	 
		   <div class="product" data-name="p-3">
			  <img src="images/img13.jpg" alt="">
			  <h3>COFFE</h3>
			  <div class="price">ADOPTAME</div>
		   </div>
	 
		   <div class="product" data-name="p-4">
			  <img src="images/img14.jpg" alt="">
			  <h3>SKU</h3>
			  <div class="price">ADOPTAME</div>
		   </div>
	 
		   <div class="product" data-name="p-5">
			  <img src="images/img15.jpg" alt="">
			  <h3>BROCOLI</h3>
			  <div class="price">ADOPTAME</div>
		   </div>
	 
		   <div class="product" data-name="p-6">
			  <img src="images/img16.jpg" alt="">
			  <h3>EMILIANA</h3>
			  <div class="price">ADOPTAME</div>
		   </div>
	 
		</div>
	 
	 </div>
	 
	 <div class="products-preview">
	 
		<div class="preview" data-target="p-1">
		   <i class="fas fa-times"></i>
		   <img src="images/img10.jpg" alt="">
		   <h3>PINKY</h3>
			<p>DESCRIPCIÓN : Pinky es un perro lleno de energía y entusiasmo. Es de tamaño mediano, con un pelaje suave y de color blanco con manchas cafes en su cara.
				<br> EDAD : 2 años
				<br> RAZA : Beagle</p>
		 <div class="buttons">
			<a href="#" class="buy">APADRINAR</a>
			<a href="#" class="cart">ADOPTAR</a>
		   </div>
		</div>
	 
		<div class="preview" data-target="p-2">
		   <i class="fas fa-times"></i>
		   <img src="images/img12.jpg" alt="">
		   <h3>TOR</h3>
		   <p>DESCRIPCIÓN : Tor es un cachorro, tiene pelaje color chocolate y muy sedoso. Es cariñoso y le encanta jugar a buscar objetos.
				<br> EDAD : 10 meses
				<br> RAZA : Labrador</p>
		   <div class="buttons">
			<a href="#" class="buy">APADRINAR</a>
			<a href="#" class="cart">ADOPTAR</a>
		   </div>
		</div>
	 
		<div class="preview" data-target="p-3">
		   <i class="fas fa-times"></i>
		   <img src="images/img13.jpg" alt="">
		   <h3>COFFE</h3>
		   <p>DESCRIPCIÓN : Coffe es una perrita de tamaño pequeño, con un pelaje blanco y gris muy suave. Es juguetona, curiosa y le encanta recibir mimos y atención.
				<br> EDAD : 4 años
				<br> RAZA : Shih Tzu</p>
		   <div class="buttons">
			<a href="#" class="buy">APADRINAR</a>
			<a href="#" class="cart">ADOPTAR</a>
		   </div>
		</div>
	 
		<div class="preview" data-target="p-4">
		   <i class="fas fa-times"></i>
		   <img src="images/img14.jpg" alt="">
		   <h3>SKU</h3>
		   <p>DESCRIPCIÓN : Sku es un perro de tamaño mediano, con un pelaje negro y blanco. <br>Es muy inteligente, enérgico y disfruta mucho de las actividades al aire libre.
				<br> EDAD : 5 años
				<br> RAZA : Criollo</p>
		   <div class="buttons">
			<a href="#" class="buy">APADRINAR</a>
			<a href="#" class="cart">ADOPTAR</a>
		   </div>
		</div>
	 
		<div class="preview" data-target="p-5">
		   <i class="fas fa-times"></i>
		   <img src="images/img15.jpg" alt="">
		   <h3>BROCOLI</h3>
		   <p>DESCRIPCIÓN : Brocoli es una perra de tamaño pequeño, con un pelaje corto y color cafe claro. Es dulce, tranquila y le encanta tomar siestas en el sofá.
				<br> EDAD : 3 años
				<br> RAZA : Pug</p>
		   <div class="buttons">
			<a href="#" class="buy">APADRINAR</a>
			<a href="#" class="cart">ADOPTAR</a>
		   </div>
		</div>
	 
		<div class="preview" data-target="p-6">
		   <i class="fas fa-times"></i>
		   <img src="images/img16.jpg" alt="">
		   <h3>EMILIANA </h3>
		   <p>DESCRIPCIÓN : Emiliana es un perra de tamaño grande, con un pelaje dorado y espeso. Es amigable, leal y le encanta jugar en el agua, especialmente nadar en ríos.
				<br> EDAD : 8 años
				<br> RAZA : Golden Retriever</p>
		   <div class="buttons">
			<a href="#" class="buy">APADRINAR</a>
			<a href="#" class="cart">ADOPTAR</a>
		   </div>
		</div>
	 
	 </div>

	<footer>
		<div class="contenedor-footer">
			<div class="content-foo">
				<h4>Teléfono</h4>
				<P>+57 318 44232</P>

			</div>
			<div class="content-foo">
				<h4>Email</h4>
				<p>fundacionfupammar@gmail.com</p>
			</div>

			<div class="content-foo">
				<h4>Ubicación</h4>
				<p>Vereda ... Don Matías, Antioquia</p>
			</div>
	    </div>
		<h2 class="titulo-final">&copy; FUNDACIÓN FUPAMMAR Desing | Manuela López - José Andrés Torres</h2>


	</footer>
	<script type="text/javascript" src="javascripts/adopciones.js"></script>
	
</body>

</html>