<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Semillero lúdica</title>
    <link rel="shortcut icon" id= "icono" href ="images\icono.png" type="image/x-icon">
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
  </head>

  <body>
    <header class="contenedor-barra-inicio">
      <div>
        <nav>
          <a class="logo" href='/registered'><p><img src="images\Fundación Fupammar Logo.png" alt="Logotipo de la fundación" width="100"></p></a>
        </nav>
      </div>
      <nav>
        <a href="#fundacion" >Acerca de la fundación</a>
        <a href="/login-signup" >Inicio de Sesión</a>
        <a href="/contactanos" >Contáctanos</a>
      </nav>
      <div class="wave" style="height: 150px; overflow: hidden;" >
        <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
          <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path>
        </svg>
      <div style='text-align: right'></div>
      </div>
    </header>
    <main>
      <h2 class="titulo" id="fundacion">NUESTRA FUNDACIÓN</h2>
        <section class="contenedor-sobre-nosotros">
          <div class="contenedor-imagenes">
            <div class="contenedor-img">
              <img src="images\Fundación Fupammar Logo2.jpg" alt="Logo de la fundación" width="200">
              <br><br>
              <img src="images\perritos fupammar.jpg" alt="" width="300" height="300">
            </div>
          </div>
          <div class="contenedor-textos">
            <div>
              <h3>A qué se dedica la fundación</h3>
              <p>Somos una fundación sin ánimo de lucro dedicada al rescate de perros en condición de abandono o maltrato, dónde se les ofrece el cuidado correspondiente para su recuperación si necesita de atención médica y cuando el animal se encuentre en buen estado de salud se procede a la búsqueda de su hogar definitivo donde serán acogidos por una familia que le proporcione condiciones óptimas, calidad de vida y <em><strong>MUCHO AMOR!</strong></em></p>
              <br><br><br>
              <h3>Meta</h3>
              <p>Ante la problemática, por un lado del crecimiento de casos de abandono y por el otro la falta de colaboración por parte de las entidades públicas, se constituye una VAKI que es una plataforma de financiamiento colectivo donde se va a crear una campaña donde se busca recaudar fondos de diferentes personas que comparten nuestro mismo ideal para llevar a cabo el proyecto de construcción del hogar de la fundación. 
                <br>Para Junio del 2023 se espera tener construído el refugio en el Municipio de Don Matías que va a albergar a más de 80 perros mientras esperan el proceso de adopción hasta encontrar una familia maravillosa.</p>
            </div> 
          </div>
      </section>
      <section class="portafolio">
        <div class="contenedor-portafolio">
          <h2 class="titulo">Portafolio de Adopciones</h2>
          <div class="galeria-port">
            <div class="imagen-port">
              <img src="images/img1.jpg" alt="">
              <div class="hover-galeria">
                <img src="images/foot.png" alt="">
                <p>Nuestras Mascotas</p>
              </div>
            </div>
  
            <div class="imagen-port">
              <img src="images/img2.jpg" alt="">
              <div class="hover-galeria">
                <img src="images/foot.png" alt="">
                <p>Nuestras Mascotas</p>
              </div>
            </div>
  
            <div class="imagen-port">
              <img src="images/img3.jpg" alt="">
              <div class="hover-galeria">
                <img src="images/foot.png" alt="">
                <p>Nuestras Mascotas</p>
              </div>
            </div>
  
            <div class="imagen-port">
              <img src="images/img4.jpg" alt="">
              <div class="hover-galeria">
                <img src="images/foot.png" alt="">
                <p>Nuestras Mascotas</p>
              </div>
            </div>
  
  
            <div class="imagen-port">
              <img src="images/img5.jpg" alt="">
              <div class="hover-galeria">
                <img src="images/foot.png" alt="">
                <p>Nuestras Mascotas</p>
              </div>
            </div>
  
            <div class="imagen-port">
              <img src="images/img6.jpg" alt="">
              <div class="hover-galeria">
                <img src="images/foot.png" alt="">
                <p>Nuestras Mascotas</p>
              </div>
            </div>

            <div class="imagen-port">
              <img src="images/img7.jpg" alt="">
              <div class="hover-galeria">
                <img src="images/foot.png" alt="">
                <p>Nuestras Mascotas</p>
              </div>
            </div>
  
            <div class="imagen-port">
              <img src="images/img8.jpg" alt="">
              <div class="hover-galeria">
                <img src="images/foot.png" alt="">
                <p>Nuestras Mascotas</p>
              </div>
            </div>
  
          </div>
        </div>
      </section>


      <section class="about-services">
        <div class="contenedor">
          <h2 class="titulo"> Nuestros Servicios</h2>
          <div class="servicio-cont">
            <div class="servicio-ind">
              <img src="images/adopta.png" alt="Adopta">
              <h3>Adopta</h3>
              <p> Adoptar una mascota significa asumir la responsabilidad de cuidarla durante toda su vida. Esto incluye proporcionar comida, agua, atención médica y mucho amor.</p>
            </div>
            <div class="servicio-ind">
              <img src="images/apadrina.jpg" alt="Apadrina">
              <h3>Apadrina</h3>
              <p> Apadrinar una mascota es una gran manera de ayudar a un animal necesitado sin comprometerte a tenerlo permanentemente en tu hogar.</p>
            </div>
            <div class="servicio-ind">
              <img src="images/dona.jpg" alt="Dona">
              <h3>Dona</h3>
              <p> Tu generosidad y apoyo son muy importantes. Incluso una pequeña donación puede ayudar a hacer una gran diferencia en la vida de un animal necesitado.</p>
            </div>
          </div>
        </div>
      </section>
    
    </main>
    <footer>
      <div class="contenedor-footer">
        <div class="content-foo">
          <h4>Celular</h4>
          <P>+57 319 2879639 </P>
  
        </div>
        <div class="content-foo">
          <h4>Email</h4>
          <p>fundacionfupammar@gmail.com</p>
        </div>
  
        <div class="content-foo">
          <h4>Ubicación</h4>
          <p>Vereda La Montera, Don Matías, Antioquia</p>
        </div>
        </div>
      <h2 class="titulo-final">&copy; FUNDACIÓN FUPAMMAR Desing | Manuela López - José Andrés Torres</h2>
    </footer>
    <script type="text/javascript" src="javascripts/funciones.js"></script>
  </body>
</html>